{% extends 'base.html.twig' %}

{% block title %}SnowTricksOC - Acceuil{% endblock %}

{% block content %}
    <!-- IMG TOP -->
    <div class="col-12" style="margin:0; padding:0;">
        <div id="linkTricks" style="position: absolute; z-index: 2">
            <a href="#tricks"><i class="fas fa-arrow-alt-circle-down fa-3x"></i></i></a>
        </div>
        <img src="{{ asset('img/back.jpg') }}" alt="" style="width:100%;" id="bgImg">
    </div>
    <!-- CONTAINER TRICKS -->
    <div class="container containerAcc" id="tricks">
        <div class="row">
            <div class="col-12">
                <h1>Trick List</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    {% for i in 0..15 %}
                        <div class="col-md-3 thumb" >
                            <div class="card">
                                <img class="card-img-top" src="{{ asset('img/ex/min.jpeg') }}" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">Stalefish</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
