{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
    <!-- CONTAINER TRICKS -->
    <div class="container containerAcc" id="tricks">
        <div class="row">
            <div class="col-12">
                <h1>Trick List</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    {% for i in 0..15 %}
                        <div class="col-md-3 thumb" >
                            <div class="card">
                                <img class="card-img-top" src="{{ asset('img/ex/min.jpeg') }}" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">Stalefish</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
