
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea
.php_cs.cache
/public/img/tricks/
dockerConnect.sh
dockerRun.sh
dockerStop.sh

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
