<div class="row rowComment">
    <div class="offset-md-2 col-md-1 text-md-center">
        <img src="" class="rounded-circle userPict">
    </div>
    <div class="col-md-8">
        <div class="card border-dark">
            <div class="card-header">Par lk, le <span class="font-italic">lkj</span> </div>
            <div class="card-body text-dark">
                <p class="card-text">C'est mon contenu </p>
            </div>
        </div>
    </div>
</div>