.nav-link{
	cursor:pointer;
}
.navbBlack{
	background-color: black;
}
.containerAcc{
	margin-top:100px;
	margin-bottom:50px;
}
#navBottomDesktop{
	display:none;
}
#navBottomMobil{
	display: none;
}
a{
	color:white;
}
a:hover{
	color:brown;
}

#bgImg{
	border-bottom: solid 3px black;
}

.thumb{
	padding-left:20px;
	padding-bottom:20px;
}

.listMobilFooter a{
	margin-right:50px;
}
