.content{
    padding-bottom: 120px;
}
.containerHeaderTrick{
    padding-top:30px;
}

.jumbotronHeaderTrick{
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    height:350px;
}

.containerUpdateIcons{
   margin-top:-64px;
    margin-left:15px;
}

.updateIconsCol{
    padding-top:20px;
}
.updateIconsCol a {
    color:white;
}
.updateIconsCol a:hover {
    color:#567398;
}

.titleContainer{
    background-color:black;
    opacity:0.7;
    height:186px;
    width:100%;
    margin-top:100px;
    padding-left:20px;
    padding-right:20px;
}


.titleTrick{
    z-index: 999;
    opacity:1;
    color:white;
    padding-top:29px;
    font-family: 'Anton', sans-serif;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrolling-wrapper-edit {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom:30px;
}
.card {
    display: inline-block;

}
.media{
    width:200px;
    height:125px;
}

.containerTrickDescription{
    padding-top:50px;
}

.trickAttribute{
    padding-top:35px;
}

.trickAttribute .btn {
    cursor: default !important;
}

.trickAttribute .btn:hover{
     background-color: white;
     color:#6c757d;
 }

.formComment{
    padding-top: 30px;
}

.spaceBot15 {
    padding-bottom: 15px;
}

.userPict {
    max-width:50px;
}

.rowComment {
    padding-top: 30px;
}

.rowComment .card {
    min-width:100%;
}

.btnMoreCom{
    margin-top:20px;
}

.contMediaAdd{
    padding-bottom:10px;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #567398;;
    opacity:0.8;
}
