<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="src/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="src/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
</head>
<body>
<!-- NAV BARR TOP-->
<nav class="navbar navbar-expand-lg navbar-dark navbBlack" id="navTop">
    <a class="navbar-brand" href="#"><i class="fas fa-snowflake"></i><span id="TitleNav"> SnowTricks</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"  data-toggle="modal" data-target="#registerModal" ></i> Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  data-toggle="modal" data-target="#registerModal" ></i> S'enregistrer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  data-toggle="modal" data-target="#registerModal" ></i> Figures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#loginModal"></i> Se connecter</a>
            </li>
        </ul>
    </div>
</nav>
<!-- IMG TOP -->
<div class="col-12" style="margin:0; padding:0;">
    <div id="linkTricks" style="position: absolute; z-index: 2">
        <a href="#tricks"><i class="fas fa-arrow-alt-circle-down fa-3x"></i></i></a>
    </div>
    <img src="src/img/back.jpg" alt="" style="width:100%;" id="bgImg">
</div>
<!-- CONTAINER TRICKS -->
<div class="container containerAcc" id="tricks">
    <div class="row">
        <div class="col-12">
            <h1>Trick List</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <?php  for ($i = 0; $i < 15; $i++ ) { ?>
                <div class="col-md-3 thumb" >
                    <div class="card">
                        <img class="card-img-top" src="src/img/ex/min.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Stalefish</p>
                        </div>
                    </div>
                </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>
<!-- NAV FOOTER DESKTOP -->
<nav class="navbar fixed-bottom navbar-dark navbBlack" id="navBottomDesktop">
    <ul class="navbar-nav text-center">
        <li class="nav-item">
            <a href="#tricks">Copiright © 2018</a>
        </li>
    </ul>
</nav>
<!-- NAV FOOTER MOBIL -->
<nav class="navbar fixed-bottom navbar-dark navbBlack" id="navBottomMobil">
    <ul class="navbar-nav">
        <ul class="list-inline listMobilFooter text-center">
            <li class="list-inline-item">
                <a href="kjm"><i class="fas fa-home fa-1x"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="kjm"><i class="fas fa-bookmark fa-1x"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="kjm"><i class="fas fa-sign-in-alt fa-1x"></i></a>
            </li>
        </ul>
    </ul>
</nav>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="src/script.js"></script>
<script src="src/bootstrap/bootstrap.js"></script>
</html>
