<!-- NAV FOOTER DESKTOP -->
<nav class="navbar fixed-bottom navbar-dark navbBlack" id="navBottomDesktop">
    <ul class="navbar-nav text-center">
        <li class="nav-item">
            <a href="#tricks">Copiright © 2018</a>
        </li>
    </ul>
</nav>
<!-- NAV FOOTER MOBIL -->
<nav class="navbar fixed-bottom navbar-dark navbBlack" id="navBottomMobil">
    <ul class="navbar-nav">
        <ul class="list-inline listMobilFooter text-center">
            <li class="list-inline-item">
                <a href="kjm"><i class="fas fa-home fa-1x"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="kjm"><i class="fas fa-bookmark fa-1x"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="kjm"><i class="fas fa-sign-in-alt fa-1x"></i></a>
            </li>
        </ul>
    </ul>
</nav>