{% extends 'base.html.twig' %}
{% block title %}SnowTricksOC - Modification{% endblock %}
{% block css  %}<link rel="stylesheet" href="{{ asset('custom/trick/style.css') }}">{% endblock %}
{% block content %}
    <div class="content">
    <div class="container containerHeaderTrick">
        <div class="jumbotron jumbotron-fluid jumbotronHeaderTrick">
            <div class="container titleContainer">
                <div class="titleTrick">
                    <h1 class="display-4">Ajouter une figure</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}