{% extends 'base.html.twig' %}
{% block title %}SnowTricksOC - Mot de Passe Perdu{% endblock %}
{% form_theme form _self %}
{# form_errors.html.twig #}
{% block content %}
    <div class="spacertop50"></div>
    <div class="container">
        <div class="col-12">
            <div class="offset-xl-4 col-xl-4 offset-sm-0 col-sm-12">
                <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié ?</h1>
                <hr>
                {{ form_start(form, {'attr':{'class':'form-signin','novalidate':'novalidate'}}) }}
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <button type="submit" class="btn btn-outline-secondary btn-lg btn-block">Envoyez moi un e-mail !</button>
                {{ form_end(form) }}
            </div>
            <div class="spacertop25"></div>
        </div>
    </div>
{% endblock %}