<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #567398; text-align: center;">{{ name }}, SnowTricks vous remercie !!</h1>
<h2 style="color: #2e6c80; text-align: center;">Vous venez de cr&eacute;er un compte sur SnowTricks:</h2>
<p style="text-align: center;">Pour valider votre compte, <a href="{{ url('app_user_accountconfirmation', {'username': name|url_encode, 'token': token|url_encode}) }}">cliquez ici !</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>

